@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles for main */

.border-gray-100 {
  --tw-border-opacity: 0;
}

.headers {
  font-family: sans-serif;
  color: black;
}



.square-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: black;
  padding-bottom: 100px;
}

.grid-item {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10%;
}

h1 {
  background-color: black;
  font-size: 4vw;
  padding: 50px;
  margin-right: auto;
  width: 100%;
  color:white;

}

.item-name {
  font-size: 3vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  color: gray;
}

.price {
  font-size: 3vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  color: white;
}

.item-info {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 3vw;
  color: grey;
  margin-top: 3vw;
  margin-bottom: 3vw;
  border: none;
  border: solid white 2px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 10px;
  color: black;
}
.car-header{
  font-size: 2rem;
  color: white;
  background-color: black;
  
}
